/* ----- RESET ----*/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Rubik Vinyl', cursive; */
    background-color: #05292E;
    color: white;
    min-width: 360px;
}

h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
li {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

input {
    outline: none;
    border: none;
}

button {
    border: none;
}